@model HairApp.Models.User 
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Profile/_LayoutProfile.cshtml";
}

<h2>Zmień hasło</h2>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title"></div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="ChangePassword" />
                       
                    </div>
                </div>

        }
    </div>
</div>