@model IEnumerable<HairApp.Models.Quiz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porosity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thickness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Density)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dyed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destroyed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porosity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thickness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Density)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dyed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destroyed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.idUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idUser })
        </td>
    </tr>
}

</table>
